RAILS_ENV=development

ASSET_HOST=localhost
SECRET_KEY_BASE=

DATABASE_URL=postgresql://postgres:123456@127.0.0.1:5432/my_app
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=my_app
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=123456
RAILS_MAX_THREADS=5

SMTP_ADDRESS=
SMTP_PORT=587
SMTP_DOMAIN=
SMTP_AUTH_TYPE=plain
SMTP_PASSWORD=
SMTP_USERNAME=
